*.cs linguist-language=C#

*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
*.cginc linguist-detectable=false
*.shadergraph linguist-detectable=false
*.shadersubgraph linguist-detectable=false

*.meta linguist-detectable=false
*.asset linguist-detectable=false
*.unity linguist-detectable=false
*.prefab linguist-detectable=false
